/* green */
$lightgreen: #d0f7e6;
$mediumgreen: #00732e;
$darkgreen: #003912;

/* yellow */
$lightyellow: #f1f4cb;
$mediumyellow: #687200;
$darkyellow: #254200;

/* pink */
$lightpink: #ffd3e2;
$mediumpink: #be5272;
$darkpink: #4d1727;

/* orange */
$lightorange: #ffe0d4;
$mediumorange: #8f2900;
$darkorange: #421300;

* {
    margin: 0px;
    padding: 0px;
}