@font-face {
  font-family: 'Macan';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Macan/TTF/Macan-Light.ttf'); /* IE9 Compat Modes */
  src: local('Macan'), local('Macan'),
}

body {
  font-family: 'Macan';
}

h1 {
  text-align: center;
}

.burger-open, .burger-close {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-size: 2em;
}